<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Arabic / Roman number converter</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="stylesheets/app.min.css">

	<!-- JS -->
	<script src="javascripts/app.js"></script>

</head>
<body>

	<h1>Arabic / Roman number converter</h1>
	<form onsubmit="submitForm();return false">
		<input type="number" id="arabic-number" max="100" min="1" placeHolder="number to convert" />
		<button id="send-data">convert</button>
	</form>
	<p id="response-message"></p>
</body>
</html>